    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
    
    :root{
        --color1:#215502;
        --color2: #DCD964;
        --color3: #7EA00E;
        --color4: #1F4F59;
        --color5: #54C0CC;
        --transparent:#77777729;
    }

    *,
    *::before,
    *::after{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    @media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
    }
    body{
        margin: 10px;
        width: fit-content;
    }
    #nav-container{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        padding: 10px;
        margin:10px;
        border-radius:15px;
        background-image:  linear-gradient(to bottom right,#e0e4e1,#aca9a9);
        justify-content: center;
    }
    #nav-container>#links-container{
        justify-self: last baseline;
        color:var(--transparent);
    }
    .navbar-toggler{
        justify-self: right;
    }
    .logo{
        justify-content: left;
        font-size: large;
    }
    #nav-links{
        justify-content: center;
        display: flex;
    }
    #nav-links li{
        list-style: none;
        padding: 2px;
    }
    #nav-links li a{
        color:var(--color4);
        text-decoration: none;
        letter-spacing: 2px;
        text-transform: capitalize;
    }
    #nav-links li:hover a{
        color:var(--color2);
    }
    .icons-container{
        justify-self: right;
        color:var(--color4);
    }
    .icons-container a{
        color:var(--color1);
    }
    .icons-container a:hover{
        color:var(--color3);
    }
    .content{
        justify-content: centre;
        align-items: center;
    }
    .about-container{
        display:inline-flex;
        justify-content: centre;
        align-items: center;
        margin-top:100px;
        margin:10px;
        padding:5px;
        background:var(--transparent);
        border-radius: 15px;
        box-shadow:-5px -5px 15px rgba(255, 255, 255, 0.253),5px 5px 15px rgba(0,0,0,0.1);
        height: 500px;
    }
    .profile-image{
        justify-self: left;
        border-radius:100%;
        width:100%;
        height: fit-content;
    }
    .profile-image:hover{
        width:100%;
        height: fit-content;
        border:solid rgba(0, 128, 0, 0);
    }
    .download_cv{
        text-decoration: none;
        color:var(--color1);
    }
    .download_cv:hover{
        color:var(--color3);
    }
    .skills-container{
        margin:10px;
        padding:5px;
        margin-top:100px;
        background:var(--transparent);
        border-radius: 15px;
        box-shadow:-5px -5px 15px rgba(255,255,255,0.2),5px 5px 15px rgba(0,0,0,0.1);
        height:250px;
    }
    .skills-container div{
        margin-top: 20px;
    }
    .projects-container{
        padding-left: 1em;
        margin:10px;
        margin-top: 100px;
        padding:1em;
        background:var(--transparent);
        border-radius: 15px;
        box-shadow:-5px -5px 15px rgba(255,255,255,0.2),5px 5px 15px rgba(0,0,0,0.1);
        width: fit-content;
    }
    .project-items{
        display:grid;
        gap: 1.5rem;
        grid-template-columns: repeat(4,1fr);
    }
    .grid-col-span-2{
        grid-column: span 2;
    }
    .project-item:last-child{
        grid-column-start: 4;
        grid-row-end: 1;
    }
    .project-items div{
        position: relative;
        margin:10px;
        margin-top: 20px;
        padding:5px;
        background:var(--transparent);
        border-radius: 15px;
        box-shadow:-5px -5px 15px rgba(255,255,255,0.2),5px 5px 15px rgba(0,0,0,0.1);
        transition: transform .2s;
    }
    .project-items div:hover {
        transform: scale(1.05);
        background:var(--color1);
    }
    .project-items a{
        text-decoration:none;
        color: black;
    }
