    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
    :root{
        --back:#31603a;
        --overlay: #3e054d77;
        --light-font-color: #fff;
        --grey: #777;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'poppins',Calibri;
    }
    body{
        background-image: linear-gradient(to bottom right,rgba(171, 234, 183, 0),rgb(179, 182, 179));
    }
    .header-container{
        width: 100%;
        min-height: 0px;
        background-image: linear-gradient(to bottom right,rgba(171, 234, 183, 0),rgb(179, 182, 179));
        border: solid black;
    }
    nav{
        display: flex;
        width: 100%;
        justify-content: space-around;
        height: 80px;
        z-index: 111;
    }
    .logo{
        margin:2px 15px;
        font-size: large;
    }
    .nav-links{
        display: flex;
    }
    .nav-links li{
        list-style: none;
        margin:5px 15px;
    }
    .nav-links li a{
        color:var(--grey);
        text-decoration: none;
        letter-spacing: 2px;
        text-transform: capitalize;
    }
    .nav-links li:hover a{
        color:var(--back);
    }
    .icons-container{
        margin: 5px 15px;
        color:var(--back);
    }
    .icons-container a{
        color:var(--back);
    }
    .content-container{
        display: flex;
    }
    .skills-container{
        width: 60%;
    }
    .content-container aside{
        position: relative;
    }